* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);

  .navbar,
  .body {
    margin: auto;
    width: 1080px;
  }
}
