.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;

  .logo {
    cursor: pointer;

    .img-logo {
      height: 100%;
      object-fit: contain;
    }
  }

  .search {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 50px;

    .box-search {
      border: 1px solid #426eff;
      width: 100%;
      display: flex;
      justify-content: space-between;

      input {
        border: none;
        outline: none;
        width: 100%;
        padding-left: 16px;
        font-size: 16px;
      }

      .icon-search {
        cursor: pointer;
        color: white;
        background-color: #426eff;
        object-fit: contain;
        width: 40px;
        height: 36px;
      }
    }
  }

  .links {
    display: flex;

    .items {
      display: flex;
      gap: 20px;

      .item {
        align-items: center;
        gap: 5px;
        cursor: pointer;
        display: flex;
        cursor: pointer;
      }
    }
  }
}
